
@import url('https://fonts.googleapis.com/css?family=Public Sans:300,400,500,600,700,800,900&display=swap');

$body-font: 'Public Sans', sans-serif;
$title-font: 'Public Sans', sans-serif;
$transition:      all .3s ease;
$primary-color:     #126EE8;
$primary-color2:    #634bf8;
$primary-color3:    #1A73E9;
$blue-color:     	rgba(99, 75, 248, 1);
$blue-color2:     	rgba(12, 70, 219, 1);
$blue-color3:     	#3a15fb;
$secondary-color:   #f45d48;
$orange-color:   	#f05c4e;
$orange-color2:   	rgba(255, 102, 0, 1);
$green-color:   	#00A775;
$green-color2:   	#83a300;
$pink-color:   		#b65df0;
$red-color:   		rgba(211, 47, 47, 1);
$purple-color:   	#0092f2;
$title-color:       #080D41;
$title-color2:      rgba(8, 13, 65, 0.8);
$title-color3:      #121933;
$white-color:       #ffffff;
$white-color2:      rgba(255, 255, 255, .9);
$body-color:        rgba(62, 62, 62, 1);
$body-color2:       #353535;
$body-color3:       #656567;